.item-row {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  margin-bottom: 12px;
}

.form-control-wrapper {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-bottom: 2px;
}